/* .bg-img{ */
    /* background-image: image('binus.jpg'); */
    /* height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.6);
    border: black solid;
} */
/* 
.img-background{
    border: black solid;
} */
